.footer-top {
    height: 430px;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.footer-row {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;

    figure{
        img{
            height: 430px;
            position: absolute;
            right: 0;
        }
    }
}

.footer-col {
    flex-basis: calc(40% / 3);

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgba(211, 211, 211, 0.783);
        font-size: 0.8rem;
    }

    h4 {
        color: white;
        margin: 20px 0;
    }
}