

#advice{
    padding: 50px  0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.442);

    a{  
        text-decoration: none;
        color: black;
    }
}