main {
    background-color: #1C1C1C;
    position: relative;
}

.content-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding-top: 25px;

    h2 {
        color: white;
    }
}

.series-card{
    a{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        gap: 5px;
    }
}

.button-container {
    padding: 20px 0;
    text-align: center;

    a {
        text-decoration: none;
        color: white;
        padding: 5px 40px;
        background-color: #0282F9;
        font-size: 0.8rem;
    }
}

.position-button {
    position: absolute;
    top: -12px;
    left: 15%;

    a {
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        background-color: #0282F9;
        font-size: 1.1rem;
    }
}